*~
\#*
.#*
*.egg-info/
*.exp
*.lib
*.obj
*.pyc
*.pyd.manifest
*.pyo
.cache
.DS_Store
.project
.pydevproject
/.settings
/.eggs
RELEASE-VERSION
build/
dist/
distribute-*.egg
distribute-*.tar.gz
doc/source/packages/autogen
doc/source/_static/css/
doc/source/_static/font.css
doc/source/_static/fonts/
doc/_build/
__pycache__
.vscode/
